                                                    @charset "UTF-8";
                                                    * {
                                                        margin: 0;
                                                        padding: 0;
                                                    }
                                                    
                                                    body {
                                                        height: 100vh;
                                                        overflow: hidden;
                                                    }
                                                    
                                                    .flex-center {
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        flex-direction: column;
                                                    }
                                                    
                                                    .tessera {
                                                        min-width: 90rem;
                                                        min-height: 43.125rem;
                                                        padding: 3.75rem 0;
                                                        font-family: 'Outfit', sans-serif;
                                                        background-color: hsl(217, 54%, 11%);
                                                        color: hsl(215, 51%, 70%);
                                                        font-weight: 300;
                                                        position: relative;
                                                    }
                                                    
                                                    .container {
                                                        width: 20.312rem;
                                                        border-radius: 20px;
                                                        background-color: hsl(216, 50%, 16%);
                                                        -webkit-box-shadow: 0px 10px 4px 24px #0c1729;
                                                        box-shadow: 0px 10px 4px 24px #0c1729;
                                                        position: relative;
                                                    }
                                                    
                                                    .inner-container {
                                                        width: 17.1875rem;
                                                        margin: 0 auto
                                                    }
                                                    
                                                    .overlay {
                                                        min-width: 17.1875rem;
                                                        min-height: 17.1875rem;
                                                        background-color: hsla(178, 100%, 50%, 0.5);
                                                        position: absolute;
                                                        border-radius: 5px;
                                                        top: 1.5625rem;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        opacity: 0;
                                                    }
                                                    
                                                    .overlay-img {
                                                        text-align: center;
                                                        display: block;
                                                        margin: 0 auto;
                                                    }
                                                    
                                                    .overlay:hover {
                                                        opacity: 1;
                                                        transition: 0.6s;
                                                    }
                                                    
                                                    .img-main {
                                                        width: 100%;
                                                        margin: 1.562rem auto;
                                                        border-radius: 5px;
                                                    }
                                                    
                                                    .title {
                                                        color: hsl(0, 0%, 100%);
                                                        font-weight: 600;
                                                        font-size: 1.25rem;
                                                        margin: 0 0 1.562rem;
                                                        display: block;
                                                        text-decoration: none;
                                                    }
                                                    
                                                    hr {
                                                        color: hsl(215, 32%, 27%);
                                                        margin-bottom: 1.5625rem;
                                                    }
                                                    
                                                    p {
                                                        font-size: 1.125rem;
                                                        margin: 0 0 1.562rem;
                                                    }
                                                    
                                                    .price_time {
                                                        margin-bottom: 1.562rem;
                                                    }
                                                    
                                                    .price_cont,
                                                    .clock_cont {
                                                        display: flex;
                                                        align-items: center;
                                                    }
                                                    
                                                    .price {
                                                        color: hsl(178, 100%, 50%);
                                                        font-weight: 400;
                                                    }
                                                    
                                                    .eth,
                                                    .clock,
                                                    .avatar {
                                                        margin-right: 0.5rem;
                                                    }
                                                    
                                                    .title:hover,
                                                    .creator:hover {
                                                        color: hsl(178, 100%, 50%);
                                                        transition: 0.6s;
                                                    }
                                                    
                                                    .avatar {
                                                        height: 1.562rem;
                                                        border: 2px solid #fff;
                                                        border-radius: 100%;
                                                    }
                                                    
                                                    .price_time {
                                                        display: flex;
                                                        justify-content: space-between;
                                                    }
                                                    
                                                    .creation {
                                                        margin-bottom: 1.562rem;
                                                        min-height: 1.562rem;
                                                        display: flex;
                                                        justify-items: center;
                                                        align-items: center;
                                                    }
                                                    
                                                    .creator {
                                                        color: hsl(0, 0%, 100%);
                                                    }
                                                    /* FOOTER  */
                                                    
                                                    .attribution {
                                                        font-size: 11px;
                                                        text-align: center;
                                                        color: lightgray;
                                                        position: absolute;
                                                        bottom: 25px;
                                                    }
                                                    
                                                    .attribution a {
                                                        color: hsl(228, 45%, 44%);
                                                    }
                                                    
                                                    @media screen and (max-width: 600px) {
                                                        .tessera {
                                                            min-width: 23.4375rem;
                                                        }
                                                    }